<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>DEMO PROJECT</h3>
            <h4>Trang chủ</h4>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
    <a th:href="@{/contact/list}" class="btn btn-info">Xem danh sách các member</a>
    <a th:href="@{/contact/create}" class="btn btn-success">Thêm một member</a>
    <a th:href="@{/team/list}" class="btn btn-info">Xem danh sách các nhóm</a>
    <a th:href="@{/team/create}" class="btn btn-success">Thêm một nhóm</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>